<header>
  <div class="header-logo">
    <a href="">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="">TweetAppとは</a></li>
  </ul>
</header>
<img class="about-img" src="https://ide-proxy.prog-8.com/tweets.png/?containerPort=3000&instanceId=82e800c3d0&ideKey=ip-10-120-53-178&languageName=rails5">
<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
</div>