<div class="main posts-index">
  <div class="container">
    <%# @変数名でアクションで定義した変数を使える %>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.content, "/posts/#{post.id}") %>
      </div>
    <% end %>
  </div>
</div>